### Описание:

*   Данные представляют из себя один из показателей банковской деятельности
*   Бремя выбора факторов, не завязанных на верменную структуру ряда, ложится на Вас
*   Прогноз должен строится на следующий день
*   Период рекалибровки выбирается вами

### Подсказки

*   Обратите внимание на макроэкономические индексы
*   Обратите внимание на налоговый календарь
*   Обратите внимание на сравнительный анализ банков-конкурентов

### Итогом проекта должен быть пайплайн, содержащий:

1.   Блок предобработки данных
2.   Блок Feature Engineering
3.   Блок Feature selection
4.   Блок калибровки гиперпараметров

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [4]:
!wget https://raw.githubusercontent.com/RomanovIV/hse_home_projects/master/data/project_3_train+test.xlsx
df = pd.read_excel('project_3_train+test.xlsx', names=['Date', 'Target'])
print(df.shape)
df.head()

--2019-05-23 20:55:18--  https://raw.githubusercontent.com/RomanovIV/hse_home_projects/master/data/project_3_train+test.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20198 (20K) [application/octet-stream]
Saving to: ‘project_3_train+test.xlsx.2’

project_3_train+tes 100%[===================>]  19.72K  --.-KB/s    in 0.01s

2019-05-23 20:55:18 (1.59 MB/s) - ‘project_3_train+test.xlsx.2’ saved [20198/20198]

(477, 2)

        Date    Target
0 2017-01-09  0.627938
1 2017-01-10  0.238050
2 2017-01-11  0.057763
3 2017-01-12  1.119530
4 2017-01-13  0.074451

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 2 columns):
Date      477 non-null datetime64[ns]
Target    477 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.5 KB